.App {
  text-align: center;
  background-image: url(./backgroundImage.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: slateblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar .links {
  text-align: center;
  margin-right: 50px;
}

.links a {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  margin: 10px;
}

.navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.user p {
  font-size: 15px;
  margin-right: 10px;
  color: white;
}
.user img {
  font-size: 15px;
  border-radius: 50%;
}
input,
textarea {
  font-family: "Nunito", sans-serif;
}

.create-post {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
form {
  margin-top: 50px;
  padding: 30px 20px;
  width: 320px;
  border-radius: 7px;
  background-color: white;
  backdrop-filter: blur(5px);
  background-color: rgba(43, 0, 255, 0.588);
  overflow: hidden;
}

input,
textarea {
  padding: 8px 10px;
  margin: 3px 8px 16px 8px;
  background-color: rgba(222, 239, 248, 0.877);
  border: 0px transparent;
  border-radius: 5px;
  color: rgb(97, 4, 184);
  font-size: 16px;
  z-index: 1;
}

.submitForm:hover {
  cursor: pointer;
}

.glass-effect {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
  border: 1 px solid rgba(255,255,255,0.18);
  border-radius: 32px;
  max-width: 50%;
  flex: auto;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .navbar .links {
    margin-right: 20px;
  }

  .navbar .user {
    margin-right: 20px;
  }

  form {
    width: 280px;
  }
}

/* Media query for screens larger than 1200px */
@media (min-width: 1200px) {
  .navbar .links {
    margin-right: 70px;
  }

  .navbar .user {
    margin-right: 70px;
  }

  form {
    width: 400px;
  }
}

/* Media query for screens between 600px and 1200px */
@media (min-width: 600px) and (max-width: 1200px) {
  .navbar .links {
    margin-right: 40px;
  }

  .navbar .user {
    margin-right: 40px;
  }

  form {
    width: 320px;
  }
}